
header { position: fixed; top: 0; left:0;}
footer { position: fixed; bottom: 0; left:0;min-height: 400px;
  margin-bottom: 100px;
  clear: both; } 




a{  
    display:block;
    width:100%;
    text-decoration: none;
    color: white; 
}




h1{
    font-size: 60px;
   
    text-align:center;
    margin-left: 15%;
    margin-top: 2%;
    font-family:Copperplate;
    

}

.contactHeading{
  font-size: 60px;
 
  text-align:center;
  margin-left: 15%;
  margin-top: 7%;
  font-family:Copperplate;
  

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  /* height: 100%; */
  overflow: auto;
  }

  
.lines {
  width:100%;
  height:600px; 
  margin-left:5%;
  margin-top: -15%;
}

.about {
  font-family:Copperplate;
  font-size:22px;
  margin-left:25%;
  margin-top: -13%;
  margin-right: 10%;
  overflow: auto;

}
.bio {
  font-family:Copperplate;
  font-size:22px;
  margin-left:25%;
  margin-right: 10%;
  overflow: auto;
  text-align:center;
}
  

.tagline{
  font-family:Copperplate;
  font-size:22px;
   margin-left:25%;
  margin-top: 5%;

  margin-right: 10%;
}


li a {
  font-family:Copperplate;
  font-size: 22px;
  text-decoration: none;
  background-color: white; 
  border: 3px solid black; 
  color: black; /* White text */
  padding: 32px 24px; /*Some padding */
  cursor: pointer; /* Pointer/hand icon */
  height: 100%;
  width: 50px; /* Set a width if needed */
  /* display: block; Make the buttons appear below each other */
  border-radius: 50%;
  font-weight: bold;
  margin-left: 5%;
  justify-content: center;
  display: flex; 
  margin-top:17%;
  
  
}


.yellow a{
  
  background-color: yellow; 
  
  
 
}
  
.li:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
  }
  
  
  /* Change the link color on hover */
li a:hover {
  background-color: yellow;
  
}


.video{
    color:orange;
}
.demoVideo {
    /* z-index: 20; */
    background-color: transparent;
    min-width: 70%;
    min-height: 70%;
    margin-left: 10%;
    /* top: 30%; */
    border: 1px white solid;
    display: block;  
    transform: translate(-50%, -50%);
    position: absolute;
    top: 49%;
    left: 47%;
  }
    
.contact{
  font-family:Copperplate;
  font-size: 22px;
  margin-top:5%;
  margin-left:20%;
  margin-right:5%;
  text-align: center;

}
.MoneyBanner {
    font-family:Copperplate;
    font-size:2em;
    /* font-variant:small-caps; */
    line-height:1.3em;
    color:#FFFFFF;
    background-color:#000000;
    /* padding:1.5mm; */
    
    }

.btn-group button {
    background-color: gray; /* Green background */
    border: 3px solid black; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 10%; /* Set a width if needed */
    height: 20%;
    display: block; /* Make the buttons appear below each other */
    border-radius: 50%;
    margin:10px;
    font-weight: bold;
    margin-left: 2%;
    }
    
    .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
    background-color: yellow;
    color: black;
    }


.marquee-content{

  animation: marquee 15s linear infinite;
}

#intro{


  float: right;
  margin-left: 30%;
  width: 70%;
  padding: 5%;
  height: 300px; 
 
}


/* Slideshow container */

/* Hide the images by default */
.mySlides {
  display: none;
  /* width:25%;
  height:25%;
  object-fit:contain;
  margin-left:45%;
  margin-top:0%;
  text-align:center; */
  /* position: relative; */

}


.slideImage{

  
  width:25%;
  height:25%;
  object-fit:contain;
  margin-left:45%;
  margin-top:0%;
  text-align:center;
  /* position: relative; */

}


/* Next & previous buttons */
.prev, .next {
  color:black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  margin-left:30%;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
  
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: yellow;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/* 
.active, .dot:hover {
  background-color: #717171;
} */ 

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

.social{
  font-family:Copperplate;
  font-size: 22px;
  margin-left:-12%;
  margin-right:5%;
  text-align: center;


}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 29%;
  border-radius: 50%;
  margin-top:2%;
  

  /* margin: 5px; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  /* color: white; */
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}